<div class="createroom-popup">
			<div class="popup">
				<span class="popup-closed"><i class="icofont-close"></i></span>
				<div class="popup-meta">
					<div class="popup-head text-center">
						<h5 class="only-icon"><i class="icofont-video-cam"></i></h5>
					</div>
					<div class="room-meta">
						<h4>Create Your Room</h4>
						<ul>
							<li>
								<i class="icofont-hand"></i>
								<div>
									<h6>Room Activity</h6>
									<span>Jack's Room</span>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="checkbox3">
									<label for="checkbox3"></label>
								</div>
							</li>
							<li>
								<i class="icofont-clock-time"></i>
								<div>
									<h6>Start Time</h6>
									<span>Now</span>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="checkbox4">
									<label for="checkbox4"></label>
								</div>
							</li>
							<li>
								<i class="icofont-users-alt-4"></i>
								<div>
									<h6>Invite to All Friends</h6>
									<span>Allow All friends to see this room</span>
								</div>
								<div class="checkbox">
									<input type="checkbox" id="checkbox5">
									<label for="checkbox5"></label>
								</div>
							</li>
						</ul>
						<span>Your room isn't visible until you invite people after you've created it.</span>
						<a href="#" title="" class="main-btn full-width">Create Room</a>
					</div>
				</div>
			</div>
		</div><!-- create new room -->