<div class="side-slide">
			<span class="popup-closed"><i class="icofont-close"></i></span>
			<div class="slide-meta">
				<ul class="nav nav-tabs slide-btns">
					<li class="nav-item"><a class="active" href="#messages" data-toggle="tab">Messages</a></li>
					<li class="nav-item"><a class="" href="#notifications" data-toggle="tab">Notifications</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active fade show" id="messages">
						<h4><i class="icofont-envelope"></i> messages</h4>
						<a href="#" class="send-mesg" title="New Message" data-toggle="tooltip"><i
								class="icofont-edit"></i></a>
						<ul class="new-messages">
							<li>
								<figure><img src="static/images/resources/user1.jpg" alt=""></figure>
								<div class="mesg-info">
									<span>Ibrahim Ahmed</span>
									<a href="#" title="">Helo dear i wanna talk to you</a>
								</div>
							</li>
						</ul>
						<a href="#" title="" class="main-btn" data-ripple="">view all</a>
					</div>
					<div class="tab-pane fade" id="notifications">
						<h4><i class="icofont-bell-alt"></i> notifications</h4>
						<ul class="notificationz">
							<li>
								<figure><img src="static/images/resources/user5.jpg" alt=""></figure>
								<div class="mesg-info">
									<span>Alis wells</span>
									<a href="#" title="">recommend your post</a>
								</div>
							</li>

							<li>
								<figure><img src="static/images/resources/user3.jpg" alt=""></figure>
								<div class="mesg-info">
									<span>Alis wells</span>
									<a href="#" title="">recommend your post</a>
								</div>
							</li>
						</ul>
						<a href="#" title="" class="main-btn" data-ripple="">view all</a>
					</div>
				</div>
			</div>
		</div><!-- side slide message & popup -->