<div class="share-wraper">
			<div class="share-options">
				<span class="close-btn"><i class="icofont-close-circled"></i></span>
				<h5><i>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-share">
							<path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
							<polyline points="16 6 12 2 8 6"></polyline>
							<line x1="12" y1="2" x2="12" y2="15"></line>
						</svg></i>Share To!</h5>
				<form method="post">
					<textarea placeholder="Write Something"></textarea>
				</form>
				<ul>
					<li><a title="" href="#">Your Timeline</a></li>
					<li class="friends"><a title="" href="#">To Friends</a></li>
					<li class="socialz"><a class="active" title="" href="#">Social Media</a></li>
				</ul>
				<div style="display: block;" class="social-media">
					<ul>
						<li><a title="" href="#" class="facebook"><i class="icofont-facebook"></i></a></li>
						<li><a title="" href="#" class="twitter"><i class="icofont-twitter"></i></a></li>
						<li><a title="" href="#" class="instagram"><i class="icofont-instagram"></i></a></li>
						<li><a title="" href="#" class="pinterest"><i class="icofont-pinterest"></i></a></li>
						<li><a title="" href="#" class="youtube"><i class="icofont-youtube"></i></a></li>
						<li><a title="" href="#" class="dribble"><i class="icofont-dribbble"></i></a></li>
						<li><a title="" href="#" class="behance"><i class="icofont-behance-original"></i></a></li>
					</ul>
				</div>
				<div style="display: none;" class="friends-to">
					<div class="follow-men">
						<figure><img class="mCS_img_loaded" src="static/images/resources/user1.jpg" alt=""></figure>
						<div class="follow-meta">
							<h5><a href="#" title="">Jack Carter</a></h5>
							<span>family member</span>
						</div>
						<a href="#" title="">Share</a>
					</div>
					<div class="follow-men">
						<figure><img class="mCS_img_loaded" src="static/images/resources/user2.jpg" alt=""></figure>
						<div class="follow-meta">
							<h5><a href="#" title="">Xang Ching</a></h5>
							<span>Close Friend</span>
						</div>
						<a href="#" title="">Share</a>
					</div>
					<div class="follow-men">
						<figure><img class="mCS_img_loaded" src="static/images/resources/user3.jpg" alt=""></figure>
						<div class="follow-meta">
							<h5><a href="#" title="">Emma Watson</a></h5>
							<span>Matul Friend</span>
						</div>
						<a href="#" title="">Share</a>
					</div>
				</div>
				<button type="submit" class="main-btn">Publish</button>
			</div>
		</div><!-- share post -->