{% include 'models/bootstrap_cdn.html' %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/table.css') }}">
<div class="theme-layout">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">NewsFeed</a></li>
    <li class="breadcrumb-item active" aria-current="/news_feed/economic_cluster">Economic Cluster</li>
  </ol>
</nav>
<section>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<h1>Posts in Economic Cluster</h1>
				{% for table in tables %}
					{{table|safe}}
				{% endfor %}								
		</div>
	</div>
</section>