<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/table.css') }}">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">NewsFeed</a></li>
    <li class="breadcrumb-item active" aria-current="/news_feed/health_cluster">Health Cluster</li>
  </ol>
</nav>
<div class="container">
	<div class="row d-flex align-items-center justify-content-center">
		<h1>Posts in Health Cluster</h1>
			{% for table in tables %}
				{{table|safe}}
			{% endfor %}								
	</div>
</div>