{% extends 'master.html' %}

{% block content %}
<!-- <div class="page-loader" id="page-loader">

		<div class="loader"><span class="loader-item"></span><span class="loader-item"></span><span
				class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span
				class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span
				class="loader-item"></span><span class="loader-item"></span></div>

	</div>page loader -->
<div class="theme-layout">

	<header class="widget">
		<div class="topbar stick">
			<div class="logo"><img src="static/images/logo.png" alt=""><span>Socimo</span></div>
			<ul class="web-elements">
				<li>
					<div class="user-dp">
						<a href="profile-page2.html" title="">
							<img alt="" src="static/images/resources/user.jpg">
							<div class="name">
								<h4>{{ session['user'] }}</h4>
							</div>
						</a>
					</div>
				</li>
				<li>
					<a class="create" href="#" title="Add New" data-toggle="tooltip">
						<i>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-plus">
								<line x1="12" y1="5" x2="12" y2="19"></line>
								<line x1="5" y1="12" x2="19" y2="12"></line>
							</svg></i>
					</a>
				</li>
				<li>
					<a href="#" title="">
						<i>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-grid">
								<rect x="3" y="3" width="7" height="7"></rect>
								<rect x="14" y="3" width="7" height="7"></rect>
								<rect x="14" y="14" width="7" height="7"></rect>
								<rect x="3" y="14" width="7" height="7"></rect>
							</svg>
						</i>
					</a>
					<ul class="dropdown">
						<li class="logout"><a href="/logout" title=""><i class="icofont-power"></i> Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

	</header><!-- header -->
	<section>
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="page-contents" class="row merged20">
							<div class="col-lg-3">
								<aside class="sidebar static left">
									<div class="widget whitish low-opacity">
										<img src="static/images/time-clock.png" alt="">
										<div class="bg-image"
											style="background-image: url('static/images/resources/time-bg.jpg')"></div>
										<div class="date-time">
											<div class="realtime">
												<span id="hours">00</span>
												<span id="point">:</span>
												<span id="min">00</span>
											</div>
											<span id="date"></span>
										</div>
									</div>

									<div class="widget">
										<h4 class="widget-title">Your profile has a new Experience section</h4>
										<p>
											Showcase your professional experience and education to help potential
											employers and collaborators find and contact you about career
											opportunities.
										</p>
										<a class="main-btn" href="" title="" data-ripple="">view
											profile</a>
									</div><!-- your profile -->
									<!-- links -->
								</aside>
							</div>
							<div class="col-lg-6">
								<!-- tab buttons -->
								<div class="main-wraper">
									<span class="new-title">Create New Post</span>
									<div class="new-post">
										<form method="post">
											<i class="icofont-pen-alt-1"></i>
											<input type="text" placeholder="Create New Post">
										</form>
										<ul class="upload-media">
{#											<li>#}
{#												<a href="#" title="">#}
{#													<i><img src="static/images/image.png" alt=""></i>#}
{#													<span>Photo/Video</span>#}
{#												</a>#}
{#											</li>#}
{#											<li>#}
{#												<a href="#" title="">#}
{#													<i><img src="static/images/activity.png" alt=""></i>#}
{#													<span>Feeling/Activity</span>#}
{#												</a>#}
{#											</li>#}
{#											<li>#}
{#												<a href="live-stream.html" title="">#}
{#													<i><img src="static/images/live-stream.png" alt=""></i>#}
{#													<span>Live Stream</span>#}
{#												</a>#}
{#											</li>#}
										</ul>
									</div>
								</div><!-- create new post -->
{#								<div class="main-wraper">#}
{#									<div class="user-post">#}
{#										<div class="friend-info">#}
{#											<figure>#}
{#												<i class="icofont-learn"></i>#}
{#											</figure>#}
{#											<div class="friend-name">#}
{#												<ins><a title="" href="">Suggested</a></ins>#}
{#												<span><i class="icofont-runner-alt-1"></i> Follow similar#}
{#													People</span>#}
{#											</div>#}
{#											<ul class="suggested-caro friends_suggestions"></ul> #}
{#										</div>#}
{#									</div>#}
{#								</div><!-- suggested friends -->#}
								<div id="posts">
									{% for feed in newsfeeds %}
									<div class="main-wraper">
										<div class="user-post">
											<div class="friend-info">
												<figure><img alt="" src="static/images/resources/friend-avatar.jpg">
												</figure>
												<div class="friend-name">
													<ins><a href="#">{{feed.user.name}}</a></ins>
													<span>{{ feed.content }}</span>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}									
								</div>

								<!-- <div class="loadmore">
									<div class="sp sp-bars"></div>
									<a href="#" title="" data-ripple="">Load More..</a>
								</div>loadmore buttons -->
							</div>
							<div class="col-lg-3">
								<aside class="sidebar static right">
									{% if clusterd_user %}
									<div class="widget stick-widget">
										<h4 class="widget-title">
											<a href="/health_cluster"> Follow People Posting Health Topic</a> 
										</h4>
										<ul class="followers">
											{% for user in clusterd_user %}
											<li>
												<figure><img alt="" src="static/images/resources/friend-avatar.jpg">
												</figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="static/time-line.html">{{user.name}}</a>
														<span>Dept colleague</span>
													</h4>
													{% if not current_user.is_following(user) %}
											<form action="{{ url_for('follow', email=user.email) }}" method="post">
												{{ form.hidden_tag() }}
												{{ form.submit(value='Follow', style='float: right; margin-buttom: 0.1rem;') }}
											</form>
											{% else %}
											<form action="{{ url_for('unfollow', email=user.email) }}", method="post">
												{{ form.hidden_tag() }}
												{{ form.submit(value='Unfollow', style='float: right; margin-buttom: 0.1rem;')}}
											</form>
											{% endif %}
												</div>
											</li>
											{% endfor %}
										</ul>													
										<ul class="followers friends_suggestions">

										</ul>
									</div><!-- whos following -->
									{% endif %}

									{% if users_in_poli_cluster %}
									<div class="widget stick-widget">
										<h4 class="widget-title">Follow
													People Posting on Politics</h4>
										<ul class="followers">
											{% for user in users_in_poli_cluster %}
											<li>
												<figure><img alt="" src="static/images/resources/friend-avatar.jpg">
												</figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="static/time-line.html">{{user.name}}</a>
														<span>Dept colleague</span>
													</h4>
													{% if not current_user.is_following(user) %}
											<form action="{{ url_for('follow', email=user.email) }}" method="post">
												{{ form.hidden_tag() }}
												{{ form.submit(value='Follow', style='float: right; margin-buttom: 0.1rem;') }}
											<!-- <a class="join" href="/follow/{{user.id}}" title="Follow">Follow</a> -->
											</form>
											{% else %}
											<form action="{{ url_for('unfollow', email=user.email) }}", method="post">
												{{ form.hidden_tag() }}
												{{ form.submit(value='Unfollow', style='float: right; margin-buttom: 0.1rem;')}}
											</form>
											{% endif %}
												</div>
											</li>
											{% endfor %}
										</ul>													
										<ul class="followers friends_suggestions">

										</ul>
									</div><!-- whos following -->
									{% endif %}

									{% if  user_in_sec_cluster %}
									<div class="widget stick-widget">
										<h4 class="widget-title">Follow
													People Posting Security Issues</h4>
										<ul class="followers">
											{% for user in user_in_sec_cluster %}
											<li>
												<figure><img alt="" src="static/images/resources/friend-avatar.jpg">
												</figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="static/time-line.html">{{user.name}}</a>
														<span>Dept colleague</span>
													</h4>
													{% if not current_user.is_following(user) %}
											<form action="{{ url_for('follow', email=user.email) }}" method="post">
												{{ form.hidden_tag() }}
												{{ form.submit(value='Follow', style='float: right; margin-buttom: 0.1rem;') }}
											</form>
											{% else %}
											<form action="{{ url_for('unfollow', email=user.email) }}", method="post">
												{{ form.hidden_tag() }}
												{{ form.submit(value='Unfollow', style='float: right; margin-buttom: 0.1rem;')}}
											</form>
											{% endif %}
												</div>
											</li>
											{% endfor %}
										</ul>													
										<ul class="followers friends_suggestions">

										</ul>
									</div><!-- whos following -->
									{% endif %}

									{% if  user_in_eco_cluster %}
									<div class="widget stick-widget">
										<h4 class="widget-title">Follow
													People Posting Health Topic</h4>
										<ul class="followers">
											{% for user in clusterd_user %}
											<li>
												<figure><img alt="" src="static/images/resources/friend-avatar.jpg">
												</figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="static/time-line.html">{{user.name}}</a>
														<span>Dept colleague</span>
													</h4>
													{% if not current_user.is_following(user) %}
											<form action="{{ url_for('follow', email=user.email) }}" method="post">
												{{ form.hidden_tag() }}
												{{ form.submit(value='Follow', style='float: right; margin-buttom: 0.1rem;') }}
											</form>
											{% else %}
											<form action="{{ url_for('unfollow', email=user.email) }}", method="post">
												{{ form.hidden_tag() }}
												{{ form.submit(value='Unfollow', style='float: right; margin-buttom: 0.1rem;')}}
											</form>
											{% endif %}
												</div>
											</li>
											{% endfor %}
										</ul>													
										<ul class="followers friends_suggestions">

										</ul>
									</div> <!-- whos following -->
									{% endif %} 
								</aside>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- content -->

	<figure class="bottom-mockup"><img src="images/footer.png" alt=""></figure>
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="">&copy; copyright All rights reserved by socimo 2020</span>
				</div>
			</div>
		</div>
	</div><!-- bottombar -->

	{% include 'models/create_post_model.html' %}

</div>
{#    <li>#}
{#				<figure><img src="static/photos/${data[index]['image']}" alt="">#}
{#				</figure>#}
{#				<span>${data[index]['name']}</span>#}
{#				<ins></ins>#}
{#				<a href="#" title="" data-ripple=""><i class="icofont-star"></i>#}
{#				Follow</a>#}
{#				</li>#}
{% endblock %}


{% block scripts %}
<script>
	$(document).ready(function () {
		getPost()
	});

	$('#publish_post').click(function (e) {
		e.preventDefault();

		var post_body = $('#emojionearea1').val();
		var user_id = "{{ session['user']['id'] }}"

		$.post('/save_post', { 'post_body': post_body, 'user_id': user_id }, function (data) {
			console.log(data)
            window.location.reload();
			$('.post-new-popup').hide();
		});

	});

	function getPost() {
		$.get('/get_post', function (data) {
		    console.log(data);
			$.each(data, function (index) {
				$('#posts').append(`
<div class="main-wraper" >
<div class="user-post">
		<div class="friend-info">
			<figure>
				<em>
					<svg style="vertical-align: middle;"
						xmlns="http://www.w3.org/2000/svg" width="15" height="15"
						viewBox="0 0 24 24">
						<path fill="#7fba00" stroke="#7fba00"
							d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z">
						</path>
					</svg></em>
				<img alt="" src="static/photos/${data[index][8]}">
			</figure>
			<div class="friend-name">
				<div class="more">
					<div class="more-post-optns">
						<i class="">
							<svg xmlns="http://www.w3.org/2000/svg" width="24"
								height="24" viewBox="0 0 24 24" fill="none"
								stroke="currentColor" stroke-width="2"
								stroke-linecap="round" stroke-linejoin="round"
								class="feather feather-more-horizontal">
								<circle cx="12" cy="12" r="1"></circle>
								<circle cx="19" cy="12" r="1"></circle>
								<circle cx="5" cy="12" r="1"></circle>
							</svg></i>
						<ul>
							<li>
								<i class="icofont-pen-alt-1"></i>Edit Post
								<span>Edit This Post within a Hour</span>
							</li>
							<li>
								<i class="icofont-ban"></i>Hide Post
								<span>Hide This Post</span>
							</li>
							<li>
								<i class="icofont-ui-delete"></i>Delete Post
								<span>If inappropriate Post By Mistake</span>
							</li>
							<li>
								<i class="icofont-flag"></i>Report
								<span>Inappropriate content</span>
							</li>
						</ul>
					</div>
				</div>
				<ins>
					<a title="verified" href="" class="text-capitalize">${data[index][6]}</a></ins>
				<span><i class="icofont-globe"></i> published: Sep,15 2020</span>
			</div>
			<div class="post-meta">
				<p>
					${data[index][2]}
				</p>
				<div class="aud-vid">

				</div>
				<div class="we-video-info">

					<a href=#"post-detail" title="" class="reply">Reply <i
							class="icofont-reply"></i></a>
				</div>
				<div class="stat-tools">
					<div class="box">
						<div class="Like"><a class="Like__link"><i
									class="icofont-like"></i> Like</a>
							<div class="Emojis">
								<div class="Emoji Emoji--like">
									<div class="icon icon--like"></div>
								</div>
								<div class="Emoji Emoji--love">
									<div class="icon icon--heart"></div>
								</div>
								<div class="Emoji Emoji--haha">
									<div class="icon icon--haha"></div>
								</div>
								<div class="Emoji Emoji--wow">
									<div class="icon icon--wow"></div>
								</div>
								<div class="Emoji Emoji--sad">
									<div class="icon icon--sad"></div>
								</div>
								<div class="Emoji Emoji--angry">
									<div class="icon icon--angry"></div>
								</div>
							</div>
						</div>
					</div>

					<a title="" href="#" class="comment-to"><i
							class="icofont-comment"></i> Comment</a>
					<a title="" href="#" class="share-to"><i
							class="icofont-share-alt"></i> Share</a>
					<div class="emoji-state">
						<div class="popover_wrapper">
							<a class="popover_title" href="#" title=""><img alt=""
									src="images/smiles/thumb.png"></a>
							<div class="popover_content">
								<span><img alt="" src="images/smiles/thumb.png">
									Likes</span>
								<ul class="namelist">
									<li>Jhon Doe</li>
									<li>Amara Sin</li>
									<li>Sarah K.</li>
									<li><span>20+ more</span></li>
								</ul>
							</div>
						</div>
						<div class="popover_wrapper">
							<a class="popover_title" href="#" title=""><img alt=""
									src="images/smiles/heart.png"></a>
							<div class="popover_content">
								<span><img alt="" src="images/smiles/heart.png">
									Love</span>
								<ul class="namelist">
									<li>Amara Sin</li>
									<li>Jhon Doe</li>
									<li><span>10+ more</span></li>
								</ul>
							</div>
						</div>
						<div class="popover_wrapper">
							<a class="popover_title" href="#" title=""><img alt=""
									src="images/smiles/smile.png"></a>
							<div class="popover_content">
								<span><img alt="" src="images/smiles/smile.png">
									Happy</span>
								<ul class="namelist">
									<li>Sarah K.</li>
									<li>Jhon Doe</li>
									<li>Amara Sin</li>
									<li><span>100+ more</span></li>
								</ul>
							</div>
						</div>
						<div class="popover_wrapper">
							<a class="popover_title" href="#" title=""><img alt=""
									src="images/smiles/weep.png"></a>
							<div class="popover_content">
								<span><img alt="" src="images/smiles/weep.png">
									Dislike</span>
								<ul class="namelist">
									<li>Danial Carbal</li>
									<li>Amara Sin</li>
									<li>Sarah K.</li>
									<li><span>15+ more</span></li>
								</ul>
							</div>
						</div>
						<p>10+</p>
					</div>
					<div class="new-comment" style="display: none;">
						<form method="post">
							<input type="text" placeholder="write comment">
							<button type="submit"><i
									class="icofont-paper-plane"></i></button>
						</form>
						<div class="comments-area">
							<ul>
								<li>
									<figure><img alt=""
											src="images/resources/user1.jpg">
									</figure>
									<div class="commenter">
										<h5><a title="" href="#">Jack Carter</a>
										</h5>
										<span>2 hours ago</span>
										<p>
											i think that some how, we learn who we
											really are and then live with that
											decision, great post!
										</p>
										<span>you can view the more detail via
											link</span>
										<a title=""
											href="https://www.youtube.com/watch?v=HpZgwHU1GcI"
											target="_blank">https://www.youtube.com/watch?v=HpZgwHU1GcI</a>
									</div>
									<a title="Like" href="#"><i
											class="icofont-heart"></i></a>
									<a title="Reply" href="#"
										class="reply-coment"><i
											class="icofont-reply"></i></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
            `)
			})
		})
	}
</script>

<script>
	var user_id = "{{ session['user']['id'] }}"
	$.get('/get_recommendation/' + user_id, function (data) {
		console.log(data)
		$.each(data, function (index) {
			$('.friends_suggestions')
			.append(`
<li>
									<figure><img alt="" src="static/photos/${data[index]['image']}">
												</figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="static/time-line.html">${data[index]['name']}</a>
														<span>Dept colleague</span>
													</h4>
													<a class="underline" title="" href="#">Follow</a>
												</div>
											</li>

			`)
		})
	})

</script>
{% endblock %}