{% extends 'master.html' %}

{% block content %}
<div class="theme-layout">

	<div class="authtication bluesh high-opacity">
		<div class="verticle-center">
			<div class="welcome-note">
				<div class="logo"><img src="images/logo.png" alt=""><span>Socimo</span></div>
				<h1>Welcome to Socimo</h1>
				<p>
					Socimo is a one and only plateform for the researcheres, students, and Acdamic people. Every one can join this plateform free and share his ideas and research with seniors and juniours comments and openions.
				</p>
			</div>
			<div class="bg-image" style="background-image: url('static/images/resources/login-bg.png')"></div>
		</div>
	</div>
	<div class="auth-login">
		<div class="verticle-center">
			<div class="signup-form">
				<h4><i class="icofont-lock"></i> Singup</h4>
				<form method="POST" class="c-form" action="" enctype="multipart/form-data">
					<!-- added this to fix form validation issues -->
					{{ form.hidden_tag() }}
					

					<div class="row merged-10">
						<div class="col-lg-12"><h4>What type of researcher are you?</h4></div>
						<div class="col-lg-12 col-sm-12 col-md-12">
							<fieldset class="name">
						        {{ form.name.label }}
						        {{ form.name(placeholder='John Smith') }}
						        {% if form.name.errors %}
						          <ul class="errors">
						            {% for error in form.email.errors %}
						              <li>{{ error }}</li>{% endfor %}
						          </ul>
						        {% endif %}								
							</fieldset>
							<!-- <input type="text" placeholder="Name" name="name" required> -->
						</div>

						<div class="col-lg-12 col-sm-12 col-md-12">
							<fieldset class="email">
						        {{ form.email.label }}
						        {{ form.email(placeholder='youremail@example.com') }}
						        {% if form.email.errors %}
						          <ul class="errors">
						            {% for error in form.email.errors %}
						              <li>{{ error }}</li>{% endfor %}
						          </ul>
						        {% endif %}								
							</fieldset>
							<!-- <input type="text" placeholder="Email@" name="email" required> -->
						</div>

						<div class="col-lg-12 col-sm-12 col-md-12">
							<fieldset class="photo">
								{{ form.photo.label }}
								{{form.photo}}
								{% if form.photo.errors %}
									<ul class="errors">
										{% for error in form.photo.errors %}
										<li>{{ error }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</fieldset>
						</div>

						<div class="col-lg-12 col-sm-12 col-md-12">
						<fieldset class="password">
					        {{ form.password.label }}
					        {{ form.password }}
					        {% if form.password.errors %}
					          <ul class="errors">
					            {% for error in form.password.errors %}
					              <li>{{ error }}</li>{% endfor %}
					          </ul>
					        {% endif %}							
						</fieldset>
							<!-- <input type="password" placeholder="Password" name="password" required> -->
						</div>
						
						<div class="col-lg-12 col-sm-12 col-md-12">
						<fieldset class="confirm">
					        {{ form.confirm.label }}
					        {{ form.confirm }}
					        {% if form.confirm.errors %}
					          <ul class="errors">
					            {% for error in form.confirm.errors %}
					              <li>{{ error }}</li>{% endfor %}
					          </ul>
					        {% endif %}							
						</fieldset>
							<!-- <input type="password" placeholder="Password" name="password" required> -->
						</div>
						<div class="col-lg-12 submit-button">
							{{ form.submit() }}
							<!-- <button class="main-btn" type="submit"><i class="icofont-key"></i> Signup</button> -->
						</div>
                        <div class="col-lg-12 mt-2">
                            Already have an account <a href="/login" class="text-success">Signin</a>
                        </div>
					</div>
					<br>
					<br>
				</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}